* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF7E8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
   height: 100px;
   width: 100%;
   background-color: #9BC4F5;
   display: flex;
   justify-content: center;
   align-items: center;    
   font-size: 60px;
   font-weight: 700;                        
}

a {
  text-decoration: none;
  color: #fff3da;
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap:30px
}

.movie-card {
  border: 1px solid black;
  width: calc((100% / 3) - (60px / 3));
  display: flex;
  flex-direction: column;
}

.movie-card img{
  width: 100%;
  height: 925px;
  align-items: center;
}

.review-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.review-card img {
  height: 700px;
}

.btn {
  border: black solid 1px;
  text-decoration: none;
  color: black;
  background-color: #e6f1ff;
}


