* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
   height: 100px;
   width: 100%;
   background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;                            
}