* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
   height: 100px;
   width: 100%;
   background-color: aqua;
   display: flex;
   justify-content: center;
   align-items: center;                            
}

.container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap:30px
}

.movie-card {
  border: 1px solid black;
  width: calc((100% / 3) - (60px / 3));
  display: flex;
  flex-direction: column;
}

.movie-card img{
  max-width: 100%;
  align-items: center;
}